<p style="color: green"><%= notice %></p>

<h1>Profiles</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">SuperUser</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% @profiles.each do |profile| %>

    <tr>
      <th scope="row"><%= profile.id %></th>
      <td><%= profile.username%></td>
      <td><%= profile.superuser %></td>
      <td> <%= link_to "Show this profile", profile, class: "btn btn-primary" %> </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New profile", new_profile_path, class: "btn btn-primary" %>
