<p style="color: green"><%= notice %></p>

<%= render @repository %>

<div class="btn-group">
  <%= link_to "Edit this repository", edit_repository_path(@repository),  class: "btn btn-secondary" %>
  <%= link_to "Back to repositories", repositories_path, class: "btn btn-primary" %>

  <%= button_to "Destroy this repository", @repository, method: :delete, class: "btn btn-danger" %>
</div>