<p style="color: green"><%= notice %></p>

<h1>Profiles</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">Repositories</th>
    </tr>
  </thead>
  <tbody>
  <% @reports.each do |profile| %>

    <tr>
      <th scope="row"><%= profile.id %></th>
      <td><%= profile.username%></td>
      <td> 
      <% if profile.repositories.count > 0%>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Tags</th>
                <th scope="col">Profile</th>
                </tr>
            </thead>
            <tbody>
            <% profile.repositories.each do |repository| %>

                <tr>
                <th scope="row"><%= repository.id %></th>
                <td><%= repository.name%></td>
                <td><%= repository.tags %></td>
                <td> <%= link_to repository.profile.username, repository.profile%></td>
                </tr>
            <% end %>
            </tbody>
        </table>  
        <% end %>
    </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New profile", new_profile_path, class: "btn btn-primary" %>
